.root {
  padding: 1px;
}

.input {
  display: inline-block;
  width: 290px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid rgba(10, 30, 50, 0.9);
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
