@import '~styles/variables';

.root {
  padding: 1px;
}

.input {
  display: inline-block;
  width: 290px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid $color-cloud-burst;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}
