$color-black: #000;
$color-dark-gray: #333;
$color-gallery: #eee;
$color-deep-sea-green: #0a5064;
$color-storm-gray: #6e7078;
$color-abbey: #515156;
$color-mischka: #d1d1d9;
$color-jumbo: #7e7e86;
$color-tuna: #38393e;
$color-red: #f00;
$color-white: #fff;
$color-cloud-burst: #223447;
$color-elm: #226274;
$color-blue-chill: #128989;
$color-french-gray: #cccccd;
$color-silver: #ccc;
$color-gray: #808080;
