$color-black: #000;
$color-dark-gray: #333;
$color-white: #eee;
$color-deep-sea-green: #0a5064;
$color-storm-gray: #6e7078;
$color-abbey: #515156;
$color-mischka: #d1d1d9;
$color-jumbo: #7e7e86;
$color-tuna: #38393e;

