@import '~styles/variables';

.root {
  background-color: rgba($color-deep-sea-green, 0.9);
}

.card {
  height: 655px;
  padding: 0 60px;
  margin: 0 auto;
  font-size: 35px;
}

.cardOptions {
  position: absolute;
  float: left;
  left: 10%;
  top: 7%;
  width: 40%;
  text-align: left;
  word-wrap: break-word;
}

.blockImage {
  float: right;
  width: 500px;
  box-sizing: border-box;
  padding-right: 110px;
  padding-top: 25px;
}

.picture {
  width: 100%;
  max-height: 1000px;
}

.blockLink {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.link {
  bottom: 10%;
  color: $color-white;
}
