@import '~styles/variables';

.root {
  padding: 15px;
  display: inline-block;
  background-color: rgba($color-deep-sea-green, 0.9);
  color: $color-white;
}

.bookCard {
  position: relative;
  width: 240px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
  line-height: 1.2;
  color: rgba($color-black, 0.8);
  background: #fff;
}

.options {
  width: 100px;
  cursor: text;
  word-wrap: break-word;
}

.bookOptions {
  text-align: center;
}

.delete {
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  outline: none;
  border-radius: 2px;
  background: linear-gradient($color-storm-gray, $color-abbey);
  font-size: 70%;
  font-weight: 500;
  color: $color-mischka;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba($color-black, 0.2);
}

.delete:hover {
  background: linear-gradient($color-jumbo, $color-abbey) $color-jumbo;
}

.delete:active {
  top: 1px;
  background: linear-gradient($color-abbey, $color-tuna) $color-abbey;
  box-shadow:
    0 0 1px rgba($color-black, 0.5) inset,
    0 2px 3px rgba($color-black, 0.5) inset,
    0 1px 1px rgba($color-white, 0.1);
}
